# public net.minecraft.world.level.block.BaseEntityBlock createTickerHelper(Lnet/minecraft/world/level/block/entity/BlockEntityType;Lnet/minecraft/world/level/block/entity/BlockEntityType;Lnet/minecraft/world/level/block/entity/BlockEntityTicker;) Lnet/minecraft/world/level/block.entity/BlockEntityTicker;
# public-f net.minecraft.world.level.block.entity.BlockEntityType$validBlocks
# public net.minecraft.client.renderer.FogRenderer$FogData
# public net.minecraft.client.renderer.FogRenderer$MobEffectFogFunction
# public net.minecraft.client.renderer.FogRenderer$BlindnessFogFunction
# public net.minecraft.client.renderer.FogRenderer$DarknessFogFunction
# public net.minecraft.world.level.block.PointedDripstoneBlock calculateDripstoneThickness(Lnet/minecraft/world/level/LevelReader;Lnet/minecraft/core/BlockPos;Lnet/min/craft/core/Direction;Z) Lnet/minecraft/world/level/block/state/properties/DripstoneThickness;
public net.minecraft.world.level.block.state.properties.IntegerProperty$min I
public net.minecraft.world.level.block.state.properties.IntegerProperty$max I
public net.minecraft.world.item.PickaxeItem init (Lnet/minecraft/world/item/Tier;IFLnet/minecraft/world/item/Item$Properties;)V
public net.minecraft.world.item.SwordItem init (Lnet/minecraft/world/item/Tier;IFLnet/minecraft/world/item/Item$Properties;)V
public net.minecraft.world.item.AxeItem init (Lnet/minecraft/world/item/Tier;IFLnet/minecraft/world/item/Item$Properties;)V
public net.minecraft.world.item.ShovelItem init (Lnet/minecraft/world/item/Tier;IFLnet/minecraft/world/item/Item$Properties;)V
public net.minecraft.world.item.HoeItem init (Lnet/minecraft/world/item/Tier;IFLnet/minecraft/world/item/Item$Properties;)V
